{% extends "aznews/base.html" %}
{% block content %}

{% if form.errors and form.non_field_errors %}
    {{ form.non_field_errors}}
{% endif %}

<div class="login-container" style="max-width: 400px; margin: 50px auto; background: #fff; padding: 20px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); border-radius: 8px;">
    <h2 style="text-align: center; font-size: 24px; margin-bottom: 20px; font-weight: bold; color: #333;">Login</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label" style="font-weight: bold; color: #555;">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Enter username" style="padding: 10px; border-radius: 5px; border: 1px solid #ddd;" />
            {{ form.username.errors }}
        </div>
        <div class="mb-3">
            <label for="password" class="form-label" style="font-weight: bold; color: #555;">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Enter Password" style="padding: 10px; border-radius: 5px; border: 1px solid #ddd;" />
            {{ form.password.errors }}
        </div>
        <button class="btn btn-success" style="width: 100%; padding: 10px; background-color: #28a745; border: none; border-radius: 5px; color: #fff; font-size: 16px; font-weight: bold;">Login</button>
    </form>
</div>

{% endblock content %}
